<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/about.css"/>
</head>
<body>
    <header class="header_div">
        <h4>Header</h4>
        <nav class="nav_div">
            <ul class="about_list_style">
                <li class="about_nav_list"><a href="/hello">Home</a></li>
                <li class="about_nav_list"><a href="/hello/about">About</a></li>
                <li class="about_nav_list"><a href="/hello/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <h1>Welcome to about page</h1>
</body>
</html>